<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GameServerPingPort" value="10002" />
		<add key="GameServerIp" value="26.202.152.148" />
		<add key="GrpcPort" value="5000" />
		<add key="MapPath" value="map1.xml" />
		<add key="RabbitMQHostName" value="NEWSPEED" />
		<add key="RabbitMQUserName" value="admin" />
		<add key="RabbitMQPassword" value="admin" />
		<add key="RabbitMQServerQueue" value="new_server" />
	</appSettings>
</configuration>
